{% extends 'base.html' %}

{% block title %}Roster{% endblock %}

{% block body_block %}

    <div class="panel-heading">
        <h2 class="panel-title">Guild Members</h2>
    </div>
    <div class="panel-body">
        {% if members %}
            <ul class="list-group">
                {% for member in members %}
                    {% if member.rank == 'LR' %}
                        <li class="list-group-item custom-background"><a class="low-rank" href="{% url 'profile' member.user.id %}">{{ member.user }}</a></li><br />
                    {% elif member.rank == 'HR' %}
                        <li class="list-group-item custom-background"><a class="high-rank" href="{% url 'profile' member.user.id %}">{{ member.user }}</a></li><br />
                    {% elif member.rank == 'GR' %}
                        <li class="list-group-item custom-background"><a class="g-rank" href="{% url 'profile' member.user.id %}">{{ member.user }}</a></li><br />
                    {% elif member.rank == 'GRP' %}
                        <li class="list-group-item custom-background"><a class="g-rank-plus" href="{% url 'profile' member.user.id %}">{{ member.user }}</a></li><br />
                    {% elif member.rank == 'GM' %}
                        <li class="list-group-item custom-background"><a class="guild-master" href="{% url 'profile' member.user.id %}">{{ member.user }}</a></li><br />
                    {% else %}
                        <li class="list-group-item custom-background"><a href="{% url 'profile' member.user.id %}">{{ member.user }}</a></li><br />
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
