{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Password Change{% endblock %}

{% block body_block %}

  <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <form role="form" method="post" action=".">
      <div class="panel-heading">
        <h2 class="panel-title">Change Password</h2>
      </div>

        {% csrf_token %}

        {% bootstrap_form form %}

        <button class="btn btn-primary btn-custom navbar-inverse" type="submit" name="submit">Change Password</button>

    </form>

  </div>

{% endblock %}
